@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    background: #ececec;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    color: #fff;
    height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: all 1s ease;
}

.box:nth-child(odd) {
    background-color: palevioletred;
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 40px;
}